{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My Grievances</title>
 
<link rel="stylesheet" href="{% static 'css/student_grievance_list.css' %}">

</head>
<body>
<div class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'images/logo.png' %}" alt="Smart Campus Assistant">
    </div>

    <div class="sidebar-brand">
        <span class="brand-smart">Smart</span>
        <span class="brand-campus">Campus</span>
        <span class="brand-assistant">Assistant</span>
    </div>

  <a href="/profile/">👤 Profile</a>
  <a href="/chatbot/">🤖 AI Chatbot</a>
  <a href="{% url 'student_notice_list' %}">📢 Notices</a>
  <a href="{% url 'student_notes' %}">📚 Notes</a>
   <a href="/dashboard/">← Back</a> 

  <a href="/logout/" class="hover:underline">⏻Logout</a>
</div>

<div class="main">
  <h1>📝 My Grievances</h1>

  <a href="{% url 'student_grievance_create' %}" class="btn">
    ➕ Submit New Grievance
  </a>

  {% for g in grievances %}
  <div class="card">
    <h3>{{ g.title }}</h3>

    <p><strong>Status:</strong>
      {% if g.status == 'PENDING' %}
        <span style="color:orange;">Pending</span>
      {% elif g.status == 'REPLIED' %}
        <span style="color:green;">Replied</span>
      {% else %}
        <span style="color:gray;">Closed</span>
      {% endif %}
    </p>

    <p>{{ g.description }}</p>

    {% if g.reply %}
      <hr>
      <p><strong>Teacher Reply:</strong></p>
      <p>{{ g.reply }}</p>
    {% endif %}

    {% if g.status == 'PENDING' %}
      <a href="{% url 'student_grievance_edit' g.id %}" class="btn-sm">Edit</a>
      <a href="{% url 'student_grievance_delete' g.id %}" class="btn-sm danger">Delete</a>
    {% endif %}
  </div>
  {% empty %}
    <p>No grievances submitted yet.</p>
  {% endfor %}
</div>

</body>
</html>
