{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Student Grievances</title>
  <link rel="stylesheet" href="{% static 'css/teacher_grievance_list.css' %}">
</head>
<body>
<div class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'images/logo.png' %}" alt="Smart Campus Assistant">
    </div>

    <div class="sidebar-brand">
        <span class="brand-smart">Smart</span>
        <span class="brand-campus">Campus</span>
        <span class="brand-assistant">Assistant</span>
    </div>

  <a href="/profile/">👤 Profile</a>
  <a href="/chatbot/">🤖 AI Chatbot</a>
  <a href="{% url 'student_notice_list' %}">📢 Notices</a>
  <a href="{% url 'student_notes' %}">📚 Notes</a>
   <a href="/dashboard/">← Back</a>

  <a href="/logout/" class="hover:underline">⏻Logout</a>
</div>

<div class="main">
  <h1>📂 Student Grievances</h1>

  {% for g in grievances %}
  <div class="card">
    <h3>{{ g.title }}</h3>
    <p><strong>Student:</strong> {{ g.student.username }}</p>
    <p><strong>Status:</strong> {{ g.status }}</p>

    <p>{{ g.description }}</p>

    <a href="{% url 'teacher_grievance_reply' g.id %}" class="btn-sm">
      Reply
    </a>
  </div>
  {% empty %}
    <p>No grievances found.</p>
  {% endfor %}
</div>

</body>
</html>
